language: node_js

node_js:
  - 10.15.3
  - lts/erbium
  - lts/dubnium
  - stable

os:
  - linux
  - osx
  - windows

cache:
  directories:
    - $HOME/.npm

jobs:
  include:
    - name: "coveralls"
      node_js: stable
      after_success: cat coverage/lcov.info | npx coveralls
    - name: "Lint and Typecheck"
      node_js: stable
      script: npm run lint && npm run typecheck
    - name: "Build"
      node_js: stable
      os:
        - linux
        - osx
        - windows
      script: npm run build
    - name: "Generate Documentation"
      node_js: stable
      os:
        - linux
        - osx
        - windows
      script: npm run docs
