language: node_js

os: linux

node_js:
  - lts/erbium
  - lts/dubnium
  - node

cache:
  directories:
    - $HOME/.npm

jobs:
  include:
    - name: "Google Cloud Environment"
      os: linux
      node_js: 10.15.3
    - name: "coveralls"
      node_js: node
      after_success: cat coverage/lcov.info | npx coveralls
    - name: "Lint and Typecheck"
      node_js: node
      script: npm run lint && npm run typecheck
    - name: "Build"
      node_js: node
      os: linux
      script: npm run build
    - name: "Build"
      node_js: node
      os: osx
      script: npm run build
    - name: "Build"
      node_js: node
      os: windows
      script: npm run build
    - name: "Generate Documentation"
      node_js: node
      os: linux
      script: npm run docs
    - name: "Generate Documentation"
      node_js: node
      os: osx
      script: npm run docs
    - name: "Generate Documentation"
      node_js: node
      os: windows
      script: npm run docs
